<div class="submit-response hide" id="formResponse">
	<div class="submit-success hide" id="submitSuccess">
		<h3>Congratulations, your application has been accepted</h3>
		<div class="user-info">
			<h5>Your account number is: <span id="userInfo"></span></h5>
		</div>
	</div>

	<div class="submit-failure hide" id="submitFailure">
		<h3>We are sorry, but your application has been rejected</h3>
		<div class="contact-info">
			<h5>Please contact your local branch: <span>+66(55)123-45-67</span></h5>
			<h5>Your application number is: <span class="application-info" id="applInfo"></span></h5>
		</div>
	</div>
</div>