<!-- modal container -->
<div class="modal hide" id="modalTC">
	<h3>Terms & conditions</h3>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempor leo ut orci pellentesque, et mollis purus vestibulum.</li>
		<li>Praesent at lectus a diam luctus porta. Duis sed purus aliquam, ullamcorper diam eget, gravida justo.</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultrices risus vitae quam tincidunt porttitor.</li>
		<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
		<li>Suspendisse euismod arcu non ex dignissim, et vehicula purus hendrerit.</li>
		<li>Curabitur accumsan dui eu enim dignissim condimentum.</li>
		<li>Donec nec justo quis ante fringilla laoreet at facilisis sem.</li>
	</ul>
	<div class="terms-btns">
		<a href="javascript:void(0);" class="cancel-btn" id="canselBtn">Decline</a>
		<a href="javascript:void(0);" class="accept-btn" id="acceptBtn">Accept to continue</a>
	</div>
</div>